@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&family=Silkscreen&display=swap');

html {
    scroll-behavior: smooth; /* Adiciona rolagem suave */
}

body {
    font-family: 'Silkscreen', cursive; /* Fonte para parágrafos */
    background-color: #BFFBD9;
    color: #000;
}

h1, h2 {
    font-family: 'Sixtyfour', cursive; /* Fonte para títulos */
}

.header-bg {
    background-image: url('goatland.png');
    background-size: cover; /* Ajuste a imagem para cobrir o contêiner */
    background-position: center;
    background-repeat: no-repeat; /* Evitar repetição da imagem */
    padding: 50px 0;
    height: 100vh; /* Ocupa toda a altura da viewport */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; /* Centraliza o texto */
}

.navbar-logo {
    max-width: 180px; /* Aumente o tamanho para o desejado, por exemplo, 150px */
    margin: 0 auto;
}

.connect-wallet {
    margin-left: 20px;
}

/* Estilo personalizado para a barra de navegação */
.custom-navbar {
    background-color: #3d3d3d; /* Fundo definido para #3d3d3d */
    box-shadow: 0 8px 6px rgb(0, 0, 0, 1.5); /* Adiciona uma sombra para profundidade */
}

.custom-navbar .w3-bar-item {
    font-size:1em;
    font-family: 'Sixtyfour', cursive; /* Define a fonte retro */
    color: #FE8029 !important; /* Cor do texto definida para #FE8029 */
    transition: all 0.3s ease; /* Adiciona uma transição suave para hover */
}

.custom-navbar .w3-bar-item:hover {
    background-color: #04A69F !important; /* Cor de fundo ao passar o mouse */
    box-shadow: 0 6px 4px rgba(0, 0, 0, 0.8); /* Adiciona uma sombra para profundidade ao passar o mouse */
}

/* Estilo para o menu exibido após clicar no botão toggle */
#nav-small {
    background-color: #BFFBD9; /* Cor de fundo do menu */
}

#nav-small .w3-bar-item {
    color: #FE8029 !important; /* Cor do texto dos itens do menu */
}

#nav-small .w3-bar-item:hover {
    background-color: ##BFFBD9; /* Cor de fundo ao passar o mouse */
    color: #FE8029 !important; /* Mantém a cor do texto */
}

/* Estilo para a seção de introdução */
.intro-section {
    padding: 50px 0;
    margin-bottom: 90px; /* Adiciona um espaço de 50px abaixo da seção de introdução */
}

.intro-title {
    font-size: 5.5em !important;
    margin-bottom: 10px;
    color: #FE8029; /* Usando a cor principal do site */
    text-shadow: 
        1px 1px 0 #000,   /* Sombra múltipla para efeito 3D */
        2px 2px 0 #000,
        3px 3px 0 #000,
        4px 4px 0 #000,
        5px 5px 0 #000;
    transform: translateZ(0); /* Habilita a aceleração de hardware para suavizar as sombras */
    font-family: 'Sixtyfour', cursive; /* Define a fonte */
}

.subtitle {
    font-size: 2em !important;
    color: #000 !important; /* Cor preta com !important para garantir prioridade */
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff; /* Adiciona um rebordo branco ao texto */
}

/* Estilo para as seções do conteúdo */
.w3-container {
    padding: 64px;
}

/* Ajustes para a seção About */
.about-title {
    font-size: 4.3em; /* Aumenta o tamanho da fonte */
    color: #FE8029; /* Define a cor do texto */
    text-align: left; /* Alinha o texto à esquerda */
    margin: 0 0 5px 15px; /* Ajusta as margens: superior, direita, inferior, esquerda */
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; /* Adiciona sombra ao texto */
    width: fit-content; /* Ajusta a largura do contêiner do título ao seu conteúdo */
    
}

.w3-row {
    display: flex; /* Torna o contêiner flexível */
    align-items: center; /* Alinha o conteúdo ao início (topo) */
}

.about-text {
    font-size: 1.6em;
    padding: 20px; /* Adiciona algum padding para garantir que o texto não toque nas bordas */
    flex: 1; /* Permite que o texto ocupe a largura disponível */
    color: #000; /* Garante a cor preta para o texto */
}

.about-image {
    flex: 1; /* Permite que a imagem ocupe a largura disponível */
    display: flex;
    justify-content: center; /* Centraliza a imagem horizontalmente */
}

.about-image img {
    width: 75%;
    height: auto;
    border-radius: 8px; /* Adiciona bordas arredondadas */
}

/* Estilos para a seção de informações da carteira */
#wallet-info {
    background-color: rgba(255, 255, 255, 0.2); /* Fundo branco com transparência */
    border: 1px solid #ddd;
    border-radius: 16px;
    padding: 20px;
    margin: 20px auto; /* Centraliza horizontalmente */
    max-width: 600px; /* Limita a largura máxima */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); /* Adiciona sombra para efeito de flutuação */
}

#wallet-info h2 {
    font-family: 'Sixtyfour', cursive; /* Define a fonte retro */
    font-size: 2.4em; /* Mantém o tamanho da fonte como no restante do site */
    color: #FE8029;
    margin-bottom: 20px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; /* Adiciona sombra ao texto */
}

#wallet-info p {
    font-family: 'Silkscreen', cursive; /* Fonte para parágrafos */
    font-size: 1em;
    margin: 10px 0;
    color: #000; /* Cor do texto para melhor legibilidade */
    line-height: 1.5;
}

/* Ajustes para a seção Why Goat */
#whyGoat {
    margin-top: 70px; /* Adiciona margem superior para mover a seção para baixo */
}

#whyGoat h2 {
    font-family: 'Sixtyfour', cursive; /* Fonte para o título */
    font-size: 4.3em;
    color: #FE8029;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    margin-bottom: 20px;
}

#whyGoat p {
    font-family: 'Silkscreen', cursive; /* Fonte para parágrafos */
    font-size: 1.6em;
    color: #000 !important; /* Cor do texto para melhor legibilidade */
    line-height: 1.5;
    margin: 20px auto; /* Adiciona margem para espaçamento */
    text-align: justify; /* Justifica o texto */
}

#whyGoat img {
    width: 90%; /* Faz a imagem ocupar 100% da largura do contêiner */
    max-width: 700px; /* Limita a largura máxima da imagem */
    height: auto; /* Mantém a proporção da imagem */
    margin-top: 20px; /* Adiciona margem superior */
    border-radius: 8px; /* Bordas arredondadas para a imagem */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adiciona sombra para efeito de flutuação */
}

/* Carousel Styles */
#gallery {
    margin-top: 60px; /* Espaço da seção anterior */
}

#gallery h2 {
    font-family: 'Sixtyfour', cursive;
    font-size: 4.3em;
    color: #FE8029;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    margin-bottom: 10px; /* Espaço considerável do título */
}

.carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 600px; /* Limite de largura do carrossel */
    margin: 0 auto; /* Centralizar o carrossel */
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-images img, .carousel-images video {
    max-width: 100%;
    max-height: 500px; /* Ajuste de altura máxima */
    width: 100%;
    height: auto;
    flex: 0 0 100%; /* Garantir que cada imagem ocupe 100% do carrossel */
    border-radius: 12px; /* Adiciona bordas arredondadas */
}

/* Presale Styles */
#presale {
    margin-top: 80px; /* Espaço da seção anterior */
}

#presale h2 {
    font-family: 'Sixtyfour', cursive;
    font-size: 4.3em;
    color: #FE8029;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    margin-bottom: 10px; /* Espaço considerável do título */
}

.presale-content {
    background-color: rgba(255, 255, 255, 0.4); /* Fundo branco com transparência */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    max-width: 600px;
    margin: 0 auto; /* Centraliza o conteúdo da pré-venda */  
}

.presale-content p {
    font-family: 'Silkscreen', cursive;
    font-size: 1.2em;
    margin: 10px 0;
    color: #000;
}

.presale-timer {
    font-family: 'Silkscreen', cursive;
    font-size: 2em;
    color: #FE8029;
    margin: 20px 0;
}

.presale-live {
    font-family: 'Silkscreen', cursive;
    font-size: 1.5em;
    color: green;
    margin: 20px 0;
}

#presaleLink {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FE8029;
    color: #fff;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-decoration: none;
    font-family: 'Silkscreen', cursive;
    font-size: 1.2em;
    border-radius: 5px;
    margin-top: 20px;
}

#presaleLink:hover {
    background-color: #ff9933;
}

#remainingTime {
    font-family: 'Silkscreen', cursive;
    font-size: 1.2em;
    color: #333;
    margin-top: 10px;
}

/* Estilo para a seção How to Buy */
#how-to-buy {
    margin-top: 8rem;
}

#how-to-buy h2 {
    font-family: 'Sixtyfour', cursive;
    font-size: 4.3em;
    color: #FE8029;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    margin-bottom: 12px;
}

.how-to-buy-steps {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 45px; /* Aumenta o espaço entre os passos */
}

.step {
    padding: 16px;
    margin: 10px;
    border-radius: 10px;
    width: 250px; /* Define uma largura fixa para os passos */
    text-align: center;
}

.step h3 {
    font-family: 'Silkscreen', cursive;
    font-size: 1.5em;
    color: #000;
    /*text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF;*/
    margin-bottom: 20px; /* Aumenta o espaço abaixo do subtítulo */
}

.step img {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

/* Style for the news ticker section */
.news-ticker-section {
    width: 100%;
    background-color: #F4013B; /* Orange background color */
    overflow: hidden;
    position: relative;
    border-top: 2px solid #000; /* Black border on top */
    border-bottom: 2px solid #000; /* Black border on bottom */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Adds some shadow for depth */
    padding: 0; /* Removes padding to make it full-width */
}

.news-ticker {
    display: flex;
    align-items: center;
    height: 50px; /* Adjust the height as needed */
}

.ticker-wrap {
    display: flex;
    align-items: center;
    width: 100%;
}

.ticker {
    display: flex;
    width: 100%;
    animation: ticker 15s linear infinite; /* Controls the scrolling animation */
}

.ticker p {
    font-family: 'Silkscreen', cursive;
    font-size: 1.5em; /* Adjust font size as needed */
    color: #fff; /* White text color */
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    margin: 0;
    white-space: nowrap;
    padding-right: 2rem; /* Spacing between repetitions of the text */
}

/* Keyframes for the scrolling animation */
@keyframes ticker {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-50%); }
}

/* Roadmap Section Styling */
#roadmap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
    margin-top: 18rem;
}

.roadmap-img {
    width: 50%;
    max-width: 65rem;
    height: auto;
    margin-right: 16rem; /* Increased margin-right for more space between image and text */
    margin-left: 1.2rem; /* Adjusted margin-left to move the image more to the left */
    order: -1;
}

#roadmap div {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the start for better alignment with image */
    justify-content: center;
    text-align: left;
    flex: 1;
    max-width: 50%;
    margin-left: 4rem; /* Added margin-left for more space between text and image */
    margin-right: 3rem;
}

#roadmap h2 {
    font-family: 'Sixtyfour', cursive; /* Update to existing font */
    color: #FE8029;
    font-size: 4rem;
    margin-bottom: 2rem;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#roadmap p {
    font-family: 'Silkscreen', cursive; /* Update to existing font */
    color: #000;
    font-size: 1.8rem;
    max-width: 80%;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

/* Estilo para o rodapé */
footer {
    background-color: #000; /* Fundo mais escuro */
    padding: 64px 16px;
}

footer p {
    margin: 8px 0;
    color: #fff; /* Define a cor do texto para branco */
}

/* Ajuste para telas médias e grandes */
@media screen and (min-width: 601px) {
    .header-bg {
        height: 80vh; /* Ocupa toda a altura da viewport */
        background-attachment: scroll; /* Para evitar que a imagem se mova */
    }

}

/* Ajuste para telas pequenas (smartphones) */
@media screen and (max-width: 600px) {
    .header-bg {
        height: 22vh; /* Ocupa toda a altura da viewport */
        background-size: cover; /* Garante que a imagem cubra a área */
        background-repeat: no-repeat; /* Impede a repetição da imagem */
        background-position: center; /* Centraliza a imagem */
    }

    .w3-bar-item {
        display: block;
        width: 100%;
        text-align: center;
    }

    .connect-wallet {
        margin: 10px 0;
    }

    .intro-section h1 {
        font-size: 1.6em; /* Ajusta o tamanho da fonte para telas pequenas */
        text-align: center;
        letter-spacing: normal; /* Remove espaçamento extra entre letras */
    }

    .intro-section .subtitle {
        font-size: 1.2em;
    }

    .w3-col {
        width: 100% !important; /* Assegura que as colunas ocupem 100% da largura em telas pequenas */
    }

    .about-text {
        font-size: 1.2rem; /* Ajustar o tamanho da fonte */
        line-height: 1.4; /* Ajustar o espaçamento entre linhas */
        /*text-align: center; /* Alinhar o texto à esquerda para evitar espaçamento irregular */
        margin: 0 1rem; /* Margem para evitar que o texto encoste nas bordas */
        width: calc(100% - 2rem); /* Ocupa a largura total do dispositivo menos a margem */
    }

    .about-title {
        text-align: center; /* Centraliza o título em telas pequenas */
        font-size: 2rem;
        margin: 1rem 0; /* Ajusta as margens para telas pequenas */
    }

    .about-image {
        margin: 2rem 0; /* Espaçamento extra em cima e embaixo da imagem */
        width: 80%; /* Ajustar a largura da imagem */
        margin-left: auto;
        margin-right: auto; /* Centralizar a imagem */
    }

    .w3-row {
        /*display: flex;*/
        flex-direction: column;
        align-items: center; /* Centralizar conteúdo */
    }

    /* Ajustes para a seção Why Goat */
    #whyGoat{
        margin-top:10px;
    }
    
    #whyGoat h2 {
        font-size: 2em; /* Ajusta o tamanho do título para telas pequenas */
    }

    #whyGoat p {
        font-size: 1.2em; /* Ajusta o tamanho da fonte para parágrafos em telas pequenas */
        margin: 10px; /* Ajusta as margens para telas pequenas */
        text-align: center; /* Alinha o texto à esquerda para evitar espaçamento excessivo */
        word-spacing: normal; /* Remove qualquer espaçamento extra entre palavras */
        letter-spacing: normal; /* Remove qualquer espaçamento extra entre letras */
    }

    #whyGoat img {
        width: 100%; /* Garante que a imagem ocupe 100% da largura do contêiner */
        max-width: none; /* Remove a limitação de largura máxima */
        margin-top: 20px; /* Adiciona um espaçamento acima da imagem */
    }

    #gallery {
        margin-top: 30px; /* Reduz o espaço da seção anterior */
    }

    #gallery h2 {
        font-size: 2em; /* Ajuste do tamanho da fonte para telas menores */
        margin-bottom: 15px; /* Reduz o espaço do título */
    }

    .carousel {
        width: 100%;
        max-width: 100%; /* Garantir que o carrossel ocupe toda a largura disponível */
    }

    .carousel-images img, .carousel-images video {
        max-height: 300px; /* Altura máxima reduzida para telas menores */
    }

     #presale {
        margin-top: 30px; /* Reduz o espaço da seção anterior */
    }

    #presale h2 {
        font-size: 2em; /* Ajuste do tamanho da fonte para telas menores */
        margin-bottom: 15px; /* Reduz o espaço do título */
    }

    .presale-content {
        padding: 15px;
        max-width: 90%;
    }

    .presale-timer {
        font-size: 1.5em;
    }

    .presale-live {
        font-size: 1.2em;
    }

    #presaleLink {
        font-size: 1em;
        padding: 8px 16px;
    }

    #remainingTime {
        font-size: 1em;
    }

    #how-to-buy h2 {
        font-size: 2em; /* Ajuste do tamanho da fonte para telas menores */
        margin-bottom: 15px; /* Reduz o espaço do título */
    }
    
    .how-to-buy-steps {
        flex-direction: column;
        align-items: center;
    }

    .step {
        width: 100%;
        max-width: none;
    }

    .step img {
        max-width: 100%;
    }

    #roadmap {
        flex-direction: column;
        margin-top: 6rem; /* Adjust the margin-top as needed */
        align-items: center; /* Centralizar conteúdo */
        text-align: center; /* Center align text */
    }

    .roadmap-img {
        width: 80%; /* Adjusted width for smaller screens */
        max-width: none;
        margin: 1rem auto 1rem; /* Center the image and add margin at the bottom */
        order: 1; /* Make the image appear after the text */
    }

    #roadmap div {
        max-width: 100%;
        margin: 0 1rem; /* Adjust the margin for smaller screens */
        align-items: center; /* Center align items */
    }

    #roadmap h2 {
        font-size: 2em; /* Adjust the font size for smaller screens */
    }

    #roadmap p {
        font-size: 1.2rem; /* Adjust the font size for smaller screens */
        text-align: center; /* Center align text */
    }
}













