@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap'); /* Exemplo de fonte retro */

html {
    scroll-behavior: smooth; /* Adiciona rolagem suave */
}

body {
    font-family: 'Sixtyfour', cursive; /* Aplicar a fonte retro ao corpo todo */
    background-color: #BFFBD9; /* Adicionando um fundo preto para realçar o estilo retrô */
    color: #000;
}

.header-bg {
    background-image: url('fundo.png');
    background-size: cover; /* Ajuste a imagem para cobrir o contêiner */
    background-position: center;
    background-repeat: no-repeat; /* Evitar repetição da imagem */
    padding: 50px 0;
    height: 100vh; /* Ocupa toda a altura da viewport */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; /* Centraliza o texto */
    text-decoration: none;
}

.navbar-logo {
    max-width: 180px; /* Aumente o tamanho para o desejado, por exemplo, 150px */
    margin: 0 auto;
}

.connect-wallet {
    margin-left: 20px;
}

/* Estilo personalizado para a barra de navegação */
.custom-navbar {
    background-color: #BFFBD9; /* Fundo definido para #BFFBD9 */
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); /* Linha de borda inferior transparente */
}

.custom-navbar .w3-bar-item {
    color: #FE8029 /*!important;*/ /* Cor do texto definida para #FE8029 */
    
}

.custom-navbar .w3-bar-item:hover {
    background-color: #24B39C; /* Cor de fundo ao passar o mouse */
    color: #FE8029 !important; /* Mantém a cor do texto */
}

/* Estilo para o menu exibido após clicar no botão toggle */
#nav-small {
    background-color: #BFFBD9; /* Cor de fundo do menu */
}

#nav-small .w3-bar-item {
    color: #FE8029 !important; /* Cor do texto dos itens do menu */
}

#nav-small .w3-bar-item:hover {
    background-color: #0094CE; /* Cor de fundo ao passar o mouse */
    color: #FE8029 !important; /* Mantém a cor do texto */
}

/* Estilo para a seção de introdução */
.intro-section {
    padding: 50px 0;
    
}

.intro-title {
    font-size: 4.8em;
    margin-bottom: 10px;
    color: #FE8029; /* Usando a cor principal do site */
    text-shadow: 
        1px 1px 0 #000,   /* Sombra múltipla para efeito 3D */
        2px 2px 0 #000,
        3px 3px 0 #000,
        4px 4px 0 #000,
        5px 5px 0 #000;
    transform: translateZ(0); /* Habilita a aceleração de hardware para suavizar as sombras */
    font-family: 'Sixtyfour', cursive; /* Define a fonte */
}

.subtitle {
    color: #000 !important; /* Cor preta com !important para garantir prioridade */
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff; /* Adiciona um rebordo branco ao texto */
}

/* Estilo para as seções do conteúdo */
.w3-container {
    padding: 64px;
}

/* Ajustes para a seção About */
.about-title {
    font-family: 'Sixtyfour', cursive; /* Define a fonte */
    font-size: 4.5em; /* Aumenta o tamanho da fonte */
    color: #FE8029; /* Define a cor do texto */
    text-align: left; /* Alinha o texto à esquerda */
    margin: 50px 10px 10px 230px; /* Ajusta as margens: superior, direita, inferior, esquerda */
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; /* Adiciona sombra ao texto */
    width: fit-content; /* Ajusta a largura do contêiner do título ao seu conteúdo */
    
}

.w3-row {
    display: flex; /* Torna o contêiner flexível */
    align-items: flex-start; /* Alinha o conteúdo ao início (topo) */
}

.about-text {
    padding: 20px; /* Adiciona algum padding para garantir que o texto não toque nas bordas */
}

.about-image img {
    width: 100%;
    height: auto;
    border-radius: 8px; /* Adiciona bordas arredondadas */
}

/* Estilo para o rodapé */
footer {
    background-color: #000; /* Fundo mais escuro */
    padding: 64px 16px;
}

footer p {
    margin: 8px 0;
    color: #fff; /* Define a cor do texto para branco */
}

/* Ajuste para telas médias e grandes */
@media screen and (min-width: 601px) {
    .header-bg {
        height: 100vh; /* Ocupa toda a altura da viewport */
        background-attachment: scroll; /* Para evitar que a imagem se mova */
    }
}

/* Ajuste para telas pequenas (smartphones) */
@media screen and (max-width: 600px) {
    .header-bg {
        height: 22vh; /* Ocupa toda a altura da viewport */
        background-size: cover; /* Garante que a imagem cubra a área */
        background-repeat: no-repeat; /* Impede a repetição da imagem */
        background-position: center; /* Centraliza a imagem */
    }

    .w3-bar-item {
        display: block;
        width: 100%;
        text-align: center;
    }

    .connect-wallet {
        margin: 10px 0;
    }

    .intro-section h1 {
        font-size: 2em;
        letter-spacing: normal; /* Remove espaçamento extra entre letras */
    }

    .intro-section .subtitle {
        font-size: 1.2em;
    }

    .w3-col {
        width: 100% !important; /* Assegura que as colunas ocupem 100% da largura em telas pequenas */
    }

    .about-title {
        text-align: center; /* Centraliza o título em telas pequenas */
        font-size: 2em;
        margin: 20px 10px 10px 30px; /* Ajusta as margens para telas pequenas */
    }

    .w3-row {
        flex-direction: column; /* Empilha as colunas verticalmente */
        text-align: center; /* Centraliza o texto */
    }

    .about-text {
        padding: 20px 0; /* Ajusta o padding para telas pequenas */
    }
}












