.header-bg {
    background-image: url('fundo.png');
   background-position: center center; /* Centraliza a imagem no cabeçalho */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    background-size: cover; /* Ajusta a imagem para cobrir toda a área disponível, mantendo sua proporção */
    min-height: 768px; /* Define a altura mínima para ser pelo menos a altura da imagem original */
}

.navbar-custom {
    background-color: transparent; /* Make the navbar background transparent */
    color: white;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: #f8f9fa; /* Lighter shade on hover */
}

.connect-wallet {
    background-color: #ff5722; /* Distinctive button color */
    color: white;
    padding: 0.5rem 1rem;
    margin-left: 2rem; /* Extra space to set it apart */
}

.connect-wallet:hover {
    background-color: #e64a19; /* Darken the button on hover */
}

.meme-coin-logo {
    height: 40px; /* Set the size of the logo */
    margin-right: 10px; /* Space between logo and site name */
}


